/* Makes width/height include padding and border */
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #282D35;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    max-width: 86vw;
}

/* HEADER */
header {
    background-color: #21222A;
}

nav {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
}

nav>img {
    width: 40px;
    margin-right: 7px;
}

nav>span {
    font-weight: 700;
    font-size: 1.4rem;
    color: #61DAFB;
}

/*Main Content*/
main {
    padding: 60px 30px;
    /*Image*/
    background-image: url(./assets/react-logo-half.png);
    background-repeat: no-repeat;
    background-position: right 80%;
    background-size: 200px;
}

main>h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list>li {
    font-size: 1rem;
    font-weight: 300;
    padding-block: 10px;
}

.facts-list>li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}